<mdb-card *ngIf="auth.isLoggedIn()">
    <mdb-card-header>Any Question?</mdb-card-header>
    <mdb-card-body>
        <mdb-card-text>
            <div class="md-form">
                <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput mdbValidate
                    [formControl]="question" [(ngModel)]="q.question"></textarea>
                <label for="form7">Your question</label>
                <mdb-error *ngIf="question.invalid && (question.dirty || question.touched)">
                    Input invalid
                </mdb-error>
                <mdb-success *ngIf="question.valid && (question.dirty || question.touched)">
                    Input valid
                </mdb-success>
            </div>
        </mdb-card-text>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addQuestion()"
            [disabled]="!validateQuestion.valid">Ask a question.</button>
    </mdb-card-body>
</mdb-card>

<mdb-card *ngFor="let rv of getQuestion; index as i ">
    <mdb-card-header>{{rv?.fullname}} - {{(rv?.created_at.length>10)? (rv?.created_at |
        slice:0:10):(rv?.created_at)}}</mdb-card-header>
    <mdb-card-body>
        <mdb-card-text>
            <p style="white-space: pre-wrap">{{rv?.question}}</p>
        </mdb-card-text>
    </mdb-card-body>
    <div class="text-center">
        <button mdbBtn color="link" class="waves-light" size="sm" mdbWavesEffect (click)="view(rv?.id)"
            (click)="answerFrame.show()">View Answer
        </button>
    </div>
</mdb-card>

<div mdbModal #answerFrame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="answerFrame.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">{{this.created_at | slice:0:10}}</h4>
            </div>
            <div class="modal-body">
                <p style="white-space: pre-wrap">{{this.answer}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="answerFrame.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>