<main>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-8">
                <mdb-card>
                    <mdb-card-header>Profile</mdb-card-header>
                    <mdb-card-body>
                        <app-profile></app-profile>
                    </mdb-card-body>

                    <mdb-card-header>Educations</mdb-card-header>
                    <mdb-card-body>
                        <app-education></app-education>
                    </mdb-card-body>

                    <mdb-card-header>Experiences</mdb-card-header>
                    <mdb-card-body>
                        <app-experience></app-experience>
                    </mdb-card-body>

                    <mdb-card-header>Skills</mdb-card-header>
                    <mdb-card-body>
                        <app-skill></app-skill>
                    </mdb-card-body>
                </mdb-card>
            </div>


            <div class="col-md-4">
                <mdb-card>
                    <mdb-card-header>Resume</mdb-card-header>
                    <mdb-card-body>
                        <app-resume></app-resume>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</main>