<main>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12 p-1">
                <h1>Favourites</h1>
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Jobs">
                        <table mdbTable bordered="true" class="table table-responsive-md" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th><strong>Favourite Jobs</strong></th>
                                    <th><strong>Actions</strong></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let e of fjob;index as i">
                                <tr>
                                    <td class="pointer"
                                        routerLink="/job/{{fjob[i]?.job_epy_id}}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h3 class="mb-1"><strong>{{fjob[i]?.title}}</strong></h3>
                                            <small>{{(fjob[i]?.updated_at.length>10)? (fjob[i]?.updated_at |
                                                slice:0:10):(fjob[i]?.updated_at)}}</small>
                                        </div>
                                        <h5>{{fjob[i]?.company_name}} - {{fjob[i]?.state}}</h5>
                                        <h5>RM {{fjob[i]?.budget}} - {{fjob[i]?.position_type}}</h5>
                                        <p class="mb-1">{{ (fjob[i]?.desc.length>150)? (fjob[i]?.desc |
                                            slice:0:150)+'......':(fjob[i]?.desc) }}</p>
                                    </td>
                                    <td class="center">
                                        <mdb-icon far icon="trash-alt" class="pointer"
                                            (click)="removefejob(fjob[i].id)">
                                        </mdb-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>
                    <mat-tab label="Companies">
                        <table mdbTable bordered="true" class="table table-bordered table-responsive-md table-striped text-center" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th><strong>Favourite Companies</strong></th>
                                    <th style="width: 10%;"><strong>Actions</strong></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let e of fcompany;index as i">
                                <tr>
                                    <td class="pointer" routerLink="/company/{{fcompany[i]?.company_id}}">
                                                <img src="http://localhost:8000/{{fcompany[i]?.logo}}" class="rounded mx-auto d-block" alt="Responsive image">
                                                <h2>{{fcompany[i]?.company_name}}</h2>
                                    </td>
                                    <td class="center">
                                        <mdb-icon far icon="trash-alt" class="pointer"
                                            (click)="removefCompany(fcompany[i].id)">
                                        </mdb-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</main>