<div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Dashboard</h4>
</div>
<div class="modal-body mx-3">
    <div class="row">
        <div class="col-md-3 text-center">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h1><strong>{{this.jlength}}</strong></h1>
                        <h3>Active Jobs</h3>
                    </mdb-card-title>
                    <!-- <mdb-card-text><a routerLink="/employer/panel/manage">View <mdb-icon fas icon="chevron-right"></mdb-icon></a></mdb-card-text> -->
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-3 text-center">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h1><strong>{{this.alength}}</strong></h1>
                        <h3>New Applicants</h3>
                    </mdb-card-title>
                    <!-- <mdb-card-text><a href="">View <mdb-icon fas icon="chevron-right"></mdb-icon></a></mdb-card-text> -->
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-3 text-center">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h1><strong>{{this.rlength}}</strong></h1>
                        <h3>New Reviews</h3>
                    </mdb-card-title>
                    <!-- <mdb-card-text><a href="">View <mdb-icon fas icon="chevron-right"></mdb-icon></a></mdb-card-text> -->
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-3 text-center">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h1><strong>{{this.qlength}}</strong></h1>
                        <h3>New Questions</h3>
                    </mdb-card-title>
                    <!-- <mdb-card-text><a href="">View <mdb-icon fas icon="chevron-right"></mdb-icon></a></mdb-card-text> -->
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

</div>