<div *ngIf="auth.isLoggedIn()">
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
        OPJS Employer Panel

    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <img class="avatar mat-elevation-z8" src="../../../assets/avatar.png" />

            <h4 class="name">{{user?.name}}</h4>
            <p class="designation">{{user?.email}}</p>

            <mat-divider></mat-divider>
            <button mat-button class="menu-button" routerLink="/employer">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <button mat-button class="menu-button" routerLink="panel/post">
                <mat-icon>post_add</mat-icon>
                <span>Post Job</span>
            </button>
            <button mat-button class="menu-button" routerLink="panel/details">
                <mat-icon>details</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-button class="menu-button" routerLink="panel/manage">
                <mat-icon>build</mat-icon>
                <span>Manage Job</span>
            </button>
            <button mat-button class="menu-button" routerLink="panel/applicant">
                <mat-icon>people</mat-icon>
                <span>Applicants</span>
            </button>
            <button mat-button class="menu-button" routerLink="panel/qna">
                <mat-icon>question_answer</mat-icon>
                <span>Q&A</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>

        </mat-sidenav>
        <mat-sidenav-content>
            <div class="container">
                <div class="row pt-1">
                    <div class="col-md-12">
                        <div class="mat-elevation-z8">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>